/* ---------- 面包屑 ---------- */
.breadcrumb {
  display: flex;
  align-items: center;
  gap: var(--sp-8);
  flex-wrap: wrap;
  font-size: var(--fs-13);
  margin-bottom: var(--sp-20);
}
.breadcrumb a {
  text-decoration: none;
  font-weight: 700;
}
.breadcrumb .sep {
  font-weight: 900;
}

